ENV=development
DB_NAME=vaishnavi_tally
MONGO_URI_DEV=mongodb://localhost:27017
MONGO_URI_PROD=mongodb+srv://<user>:<pass>@cluster.mongodb.net/

FIRM_NAME=Vaishnavi Consultants
FIRM_ADDRESS=Your Address, City, State
FINANCIAL_YEAR_START=2025-04-01
