ENV=production
DB_NAME=vaishnavi_tally
MONGO_URI_DEV=mongodb://localhost:27017
MONGO_URI_PROD=mongodb+srv://<user>:<pass>@cluster.mongodb.net/

FIRM_NAME=Vaishnavi Consultants
SECRET_KEY=change-me-to-a-random-string
PORT=8000
